.cv-css h3 {
  @apply text-xl font-semibold indent-2 pb-2;
}

.cv-css h2 {
  @apply text-2xl font-bold;
}

.cv-css h1 {
  @apply text-4xl font-extrabold pb-4;
}

.cv-css p {
  @apply indent-2;
}

.cv-css ul {
  @apply indent-4 list-disc list-inside;
}

.postfix {
  left: -100%;
  animation: comeFromLeft 2s linear 30s forwards;
}

@keyframes comeFromLeft {
  0% {
    left: -100%;
  }

  100% {
    left: 50%;
  }
}
