.markdown-container {
  line-height: 1.6;
}

.markdown-container h1 {
  font-size: 2rem;
  font-weight: bold;
}

.markdown-container h2 {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.markdown-container h3 {
  padding-top: 1.5rem;
  text-align: left;
  font-size: 1.1rem;
  font-weight: bold;
}

hr {
  margin: 2rem 0;
}

.markdown-container a {
  color: blue;
  text-decoration: underline;
}

.markdown-container code {
  text-align: left;
}
