.Container {
  position: relative;
}

.Container>h1 {
  padding-left: 50px;
}

.Command {
  background-color: var(--code-color);
  color: var(--background-color);
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
  margin: 2.5px 0;
  padding: 0 2.5px;
}

li {
  text-align: left;
}

.Italic {
  font-style: italic;
}
